body {
    width: 100%;
    font-family: Roboto;
    font-size: 0;
    background-color: #829b8d;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.slide-title h1 {
    /* Типографика */
    font: 700 60px Roboto;
    /* Оформление */
    color: #ffffff;
}

.offers h2{
    /* Типографика */
    font: 700 35px Roboto;
    /* Оформление */
    color: #ffffff;
}

/* ---------- Голова сайта ---------- */

.main-header {
    /* Позиционирование */
    position: relative;
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    width: 1200px;
    /* Типографика */
    font: 700 16px / 18px Roboto;
    /* Оформление */ 
    font-size: 0;
    z-index: 10;
}

.main-logo {
    display: inline-block;
    width: 154px;
    vertical-align: bottom;
}

.main-navigation {
    display: inline-block;
    position: relative;
    z-index: 2;
    
}

.DDD > li {
    display: inline-block;
    position: relative;
    z-index: 2;
    
}


.DDD a {
    padding-right: 10px;
    text-decoration: none;
    font: 700 16px / 18px Roboto;
    color: #ffffff;
}

.hidden {
    display: none;
}
/*------------------------------------*/
.navigation-line {
    display: none;
    position: absolute;
    top: 30px;
    padding: 5px;
}

.catalog-button:hover ~ .navigation-line, .navigation-line:hover {
    display: block;
}
/*------------------------------------*/
.two-button > a {
    padding-left: 14px;
    padding-right: 13px;
    padding-top: 9px;
    padding-bottom: 10px;
}

.two-button > a:hover {
    border-radius: 25px;
    border-style: none;
    background-color: #ffffff;
    color: #323232;
}

.two-button > a:active {
    border-radius: 25px;
    border-style: none;
    background-color: #f6b5a5;
    color: #323232;
}

 /*------------------------------------*/
.catalog-panel { 

    display: block;
    background-color: #f8f7f4;
    width: 143px;
    height: 171px;
    list-style: none;
    text-decoration: none;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0.00px rgba(0, 0, 0, 0.4);
    
}

.catalog-panel a {
    width: 100%;
    display: inline-block;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    padding-left: 21px;
    height: 28px;
}

.catalog-panel .news {
    color: #323232;  
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700; 
}

.news {
    width: 128px;
    margin-left: 0;
    margin-top: 13px;
    border-bottom: 1px solid #d1d0ce;  
}

.catalog-panel a:hover {
    background-color: #fbded7;
    color: #323232;
}

.customer-panel {
    display: inline-block;
    margin-left: 309px;

}

/*------------------------------------*/
.main-search {
    display: inline-block;  
}

.search-button {
    vertical-align: top;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    width: 33px;
    height: 33px;
    display: block;
    background-image: url(../img/sprite.png);
    background-position: -762px -3px; 
    background-color: rgba(255, 255, 255, 0.2);
}

.search-button:hover {
    background-color: rgba(255, 255, 255, 1);
    background-position: -1082px -3px;
}

.search-line {
    display: none;
    position: absolute;
    top: 65px;
    left: 590px;
    padding: 5px;
    z-index: 2;
}

input[type="search"] {
    font-size: 14px; 
    width: 311px;
    height: 44px;
    padding-left: 15px;   
}

.search-field {
    width: 341px;
    height: 84px;
    background-color: #f8f7f4;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 0px 20px 20px 0.00px rgba(0, 0, 0, 0.4);
}

.main-search:hover .search-button {
    background-color: rgba(255, 255, 255, 1);
    background-position: -1082px -3px;
}

.search-button:hover ~ .search-line {
    display: block;
}
/*------------------------------------*/

.main-login {
    display: inline-block;
    vertical-align: top;
    width: 93px;
    height: 32px;
    font-size: 14px;
    border-radius: 40px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.main-login:hover::before {
    background-position: -1048px -10px;  
}

.login-line {
    display: none;
}

.main-login::before {
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    background-position: -242px -10px;
    width: 21px;
    height: 19px;
    top: 5px;
    left: 18px;
    pointer-events: none;
}

.main-login a {
    display: block;
    padding-top: 10px;
    padding-right: 17px;
    padding-bottom: 9px;
    padding-left: 44px;
    text-decoration: none;
    font: 500 14px / 16px Roboto;
    color: #ffffff;
}

.main-login a:hover {
    background-color: #f8f7f4;
    color: #323232;
    border-radius: 25px;
}

input[type="text"] {
    width: 241px;
    height: 44px;  
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #999999;
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
}

input[type="password"] {
    width: 241px;
    height: 44px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #999999;
    font-size: 14px;
    font-family: Roboto;
    line-height: 24px;
}

button[type="submit"] {
    display: inline-block;
    width: 100px;
    height: 44px;
    border-radius: 25px;
    border-style: none;
    background-color: #f16743;
    background-repeat: no-repeat;
    color: #fefefe;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 22px;
    vertical-align: top;
}
.login-links {
    display: inline-block;
}
.login-links a {
    display: block;
    font-family: Roboto;
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    padding: 0;
}

.login-field {
    position: absolute;
    top: 40px;
    left: -180px;
    padding-top: 20px;
    padding-left: 19px; 
    width: 277px;
    background-color: #f8f7f4;
    border-radius: 5px;
}

.main-login:hover .enter-button {
    background-color: #f8f7f4;
    color: #323232;
    border-radius: 25px;
}

.enter-button:hover ~ .login-line {
    display: block;
}

.enter-button:hover::before ~ .login-line {
    display: block;
}


/*------------------------------------*/

.main-basket {
    display: inline-block;
    vertical-align: top;
    width: 117px;
    height: 32px;
    border-radius: 40px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
}

.main-basket::before {
    background-image: url(../img/sprite.png);
    position: absolute;
    content: "";
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
    top: 4px;
    left: 19px;
    pointer-events: none;
}

.main-basket a {
    display: block;
    padding-top: 10px;
    padding-right: 34px;
    padding-bottom: 9px;
    padding-left: 45px;
    text-decoration: none;
    font: 500 14px / 16px Roboto;
    color: #ffffff;
    line-height: 16px;
}

.main-basket a:hover {
    background-color: #f8f7f4;
    color: #323232;
    border-radius: 25px;
}

.main-basket:hover::before {
    background-position: -51px -10px;
}
/* ---------- ---------- ---------- */


/* ---------- Слайдер ---------- */
.slider {
    /* Позиционирование */
    /* Блочная модель */
    display: inline-block;
    width: 1200px;
    height: 881px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.contacts {
    width: 166px;
    float: right;
}

.contacts p {
    /* Типографика */
    font: 700 14px / 16px Roboto;
    color: #ffffff;
}

.contacts span {
    /* Типографика */
    font: 700 22px / 24px Roboto;
    color: #ffffff;
}

.slide {
    width: 100%;
    background-position: 250px center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    height: 881px;

}
.slide .slide-btn {
    position: absolute;
    padding-left: 41px;
    padding-right: 43px;
    padding-top: 17px;
    padding-bottom: 10px;
    display: block;
    font-family: Roboto;
    font-size: 32px;
    line-height: 44px;
    text-decoration: none;
    color: #ffffff;
    width: 282px;
    height: 64px;
    border-radius: 35px;
    border-style: none;
    background-color: #f16743;
    top: 620px;
    left: 400px;
    box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
}

.slide .slide-btn:hover {
    background-color: #ed7260;
    color: #ffffff;
}
.slide .slide-btn:active {
    background-color: #e05e3d;
    color: #ffffff;
    box-shadow: inset 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
}

.site-wrapper {
    width: 100%;
    display: inline-block;
    position: absolute;
    background-image: url(../img/light-background.png);
    background-repeat: no-repeat;
    top: -84px;
}

.slide:nth-child(1) {
    background-image: url(../img/slider-1.png);
    
}

.slide h1 {
    width: 665px;
    display: inline-block;
    position: absolute;
    top: 415px;
    left: 240px;
}

.slide:nth-child(2) {
    display: none;
    background-image: url(../img/slider-2.png);
    background-repeat: no-repeat;
}

.slide:nth-child(3) {
    display: none;
    background-image: url(../img/slider-3.png);
    background-repeat: no-repeat;
}

/* ---------- ---------- ---------- */

/* ---------- Предложения ---------- */

.offers {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
    margin-bottom: 10px;
    margin-top: -250px;
    
}

.offers-item {
    /* Позиционирование */
    padding-left: 20px;
    padding-bottom: 23px;
    /* Блочная модель */
    display: inline-block;
    vertical-align: baseline;
    width: 560px;
    position: relative;
    z-index: 1;
}


.raspberry {
    vertical-align: top;
    padding-bottom: 101px;
    padding-bottom: 101px;
    background: url("../img/raspberry-background.png");
    background-color: #932949;
    background-repeat: no-repeat;
    width: 560px;
}

.raspberry a {
    display: block;
    text-decoration: none;
    width: 167px;
    height: 48px;
    border-radius: 25px;
    border-style: none;
    background-color: #f16743;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px; 
    margin-left: 331px;
    box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
}

.raspberry a:hover {
    background-color: #ed7260;
    color: #ffffff;
}

.raspberry a:active {
    background-color: #e05e3d;
    color: #ffffff;
    box-shadow: inset 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
}

.chocolate {
    vertical-align: top;
    padding-bottom: 101px;
    padding-bottom: 101px;
    background: url("../img/chocolate-background.png");
    background-color: #623a20;
    background-repeat: no-repeat;
    width: 560px;
    margin-left: 26px;
}

.chocolate a {
    display: block;
    text-decoration: none;
    width: 189px;
    height: 45px;
    border-radius: 25px;
    border-style: none;
    background-color: #f16743;
    background-repeat: no-repeat;
    vertical-align: middle;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    margin-left: 330px;
    box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
}

.chocolate a:hover {
    background-color: #ed7260;
    color: #ffffff;
}

.chocolate a:active {
    background-color: #e05e3d;
    color: #ffffff;
    box-shadow: inset 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
}

.offers h2 {
    /* Типографика */
    font-family: Roboto;
    font-size: 35px;
    line-height: 41px;
    /* Оформление */
    color: #ffffff;
}

.offers p {
    /* Типографика */
    font-family: Roboto;
    font-size: 18px;
    line-height: 22px;
    /* Оформление */
    color: #ffffff;
}

.offers a {
    /* Позиционирование */
    padding-top: 14px;
    padding-right: 22px;
    padding-bottom: 14px;
    padding-left: 22px;
    /* Блочная модель */
    width: 189px;
    /* Типографика */
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    /* Оформление */
    color: #ffffff;
    margin: 0 20px 0 0;
    float: right;
    text-align: center;
}

/* ---------- ---------- ---------- */

/* ---------- Топ продаж ---------- */

.top-sales {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.top-sales article {
    /* Блочная модель */
    width: 267px;
}

.top-sales .catalog-item {
    /* Блочная модель */
    display: inline-block;
}

.catalog-item {
    position: relative;
    margin-right: 26px;
}

.catalog-item a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.catalog-item a:hover {
    color: #ffbc9e;
}

.catalog-item a:active {
    color: #ffbc9e;
}

.catalog-item .quick-view {
    padding-top: 13px;
    padding-left: 17px;
    padding-bottom: 13px;
    padding-right: 17px;
    width: 200px;
    height: 44px;
    border-radius: 25px;
    border-style: none;
    background-color: #f16743;
    box-shadow: 0px 1px 2px 0.00px #ac1000;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #fefefe;
}

.catalog-item .quick-view:hover {
    color: #fefefe; 
    background-color: #ed7260; 
}

.catalog-item .quick-view:active {
    color: #fefefe;
    background-color: #e05e3d;
    box-shadow: inset 0px 1px 2px 0.00px #ac1000;
}



.catalog-item .hit {
    position: absolute;
    display: block;
    width: 61px;
    height: 61px;
    background: #ffffff url(../img/sprite.png);
    border-radius: 50%;
    background-position: -370px -10px;
    background-repeat: no-repeat;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-item .price {
    position: absolute;
    bottom: 54px;
    left: 10px;
    /* Типографика */
    font: 700 45px / 45px Roboto;
    /* Оформление */
    color: #ffffff;
}

.price span {
    /* Типографика */
    font: 700 30px / 45px Roboto;
    /* Оформление */
    color: #ffffff;
}

.catalog-item a {
    width: 247px;
    /* Типографика */
    font: 500 16px / 22px Roboto;
    
}

/* ---------- ---------- ---------- */

/* ---------- О компании ---------- */

.about-company {
    /* Позиционирование */
    
    /* Блочная модель */
    display: inline-block;
    vertical-align: baseline;
    width: 1200px;
    position: relative;
    z-index: 1;
    /* Типографика */
    /* Оформление */
}

.about-company ul {
    width: 100%;
    padding: 0;
    padding-left: 76px;
    color: #323232;
}

.about-company li {
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
}

.about-company h3 {
    /* Типографика */
    font-family: Roboto;
    font-size: 24px;
    line-height: 30px;
    /* Оформление */
    color: #323232;
}

.wafer {
    background: url("../img/wafer-background.png");
    background-color: #eadec1;
    background-repeat: no-repeat;
    width: 1146px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.wafer ul {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    vertical-align: top;
    
}

.wafer li {
    display: inline-block;
    width: 476px;
    margin-bottom: 20px;
}



.first-half li:nth-child(1) {
    display: inline-block;
}

.first-half li:nth-child(1)::before {
    display: inline-block;
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    width: 49px;
    height: 49px;
    background-position: -579px -10px;
    left: 50px;
}

.first-half li:nth-child(2) {
    display: inline-block;
}

.first-half li:nth-child(2)::before {
    display: inline-block;
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    width: 49px;
    height: 49px;
    background-position: -700px -10px;
    left: 50px; 
}

.second-half li:nth-child(1) {
    display: inline-block;
}

.second-half li:nth-child(1)::before {
    display: inline-block;
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    width: 48px;
    height: 49px;
    background-position: -174px -10px;
    left: 595px; 
}

.second-half li:nth-child(2) {
    display: inline-block;
}

.second-half li:nth-child(2)::before {
    display: inline-block;
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    width: 48px;
    height: 49px;
    background-position: -846px -10px;
    left: 595px;
}

/* ---------- ---------- ---------- */

/* ---------- Полезная информация ---------- */

.helpful-info {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* Блочная модель */
    display: inline-block;
    width: 1200px;
    position: relative;
    z-index: 1;
    /* Типографика */
    /* Оформление */  
}

.blog {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 20px;
    vertical-align: top;
    width: 560px;
    height: 220px;
    background: url("../img/strawberry-background.png");
    background-color: #ffffff;
    background-repeat: no-repeat;
}

.blog span {
    padding-top: 13px;
    /* Блочная модель */
    display: block;
    /* Типографика */
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    /* Оформление */
    color: #323232;
    
}

.blog a {
    display: inline-block;
    padding-left: 1px;
    width: 285px;
    /* Типографика */
    font-family: Roboto;
    font-size: 24px;
    line-height: 30px;
    /* Оформление */
    color: #323232;
}

.blog a:hover {
    color: #ffbc9e;
}

.blog a:active {
    color: #ffbc9e;
}

.subscription {
    /* Блочная модель */
    padding-left: 26px;
    display: inline-block;
    padding-top: 37px;
    padding-bottom: 40px;
    vertical-align: top;
    width: 560px; 
    background-image: url(../img/letter-background.png);
    background-color: #f8f7f4;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin-left: 25px;
}

.subscription p {
    /* Типографика */
    padding: 0;
    margin: 0;
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    /* Оформление */
    color: #5a5a5a;
    margin-top: -6px;
    margin-bottom: 38px;
}

.subscription input[type="text"] {
    width: 368px;
    height: 44px;
    /* Типографика */
    font: 400 16px / 24px Roboto;
    /* Оформление */
    color: #999999;
}

.subscription button {
    display: inline-block;
    width: 129px;
    /* Типографика */
    font: 700 18px / 24px Roboto;
    /* Оформление */
    height: 44px;
    border-radius: 25px;
    border-style: none;
    background-color: #f16743;
    color: #fefefe;
    margin-left: 11px;
    box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
}

.subscription button:hover {
    background-color: #ed7260;
    color: #ffffff;
}

.subscription button:active {
    background-color: #e05e3d;
    color: #ffffff;
    box-shadow: inset 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
}


/* ---------- ---------- ---------- */

/* ---------- Карта ---------- */

.map {
    /* Позиционирование */
    /* Блочная модель */
    display: block;
    width: 1200px;
    height: 430px;
    /* Типографика */
    /* Оформление */
    background: url("../img/map.png");
    background-repeat: no-repeat; 
    margin-left: auto;
    margin-right: auto;
}

.map .container {
    position: relative;
}

.communication {
    position: absolute;
    display: inline-block;
    padding-left: 25px;
    width: 302px;
    height: 305px;
    /* Оформление */
    background-color: rgba(255, 255, 255, 0.98);
    border-radius: 15px;
    left: 871px;
    top: 62px;
}

.communication p {
    /* Типографика */
    font: 400 14px / 20px Roboto;
    color: #323232;
}

.communication p:nth-child(1) {
    margin-top: 32px;
}

.communication span {
    /* Типографика */
    font: 700 18px / 24px Roboto;
    color: #323232;
}
.communication a {
    word-wrap: normal;
    display: block;
    padding-top: 13px;
    padding-left: 28px;
    text-decoration: none;
    width: 196px;
    /* Типографика */
    font: 700 18px / 24px Roboto;
    /* Оформление */
    color: #fefefe;
    width: 252px;
    height: 44px;
    border-radius: 25px;
    border-style: none;
    background-color: #f16743;
    box-shadow: 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
    margin-top: 26px;
}

.communication a:hover {
    background-color: #ed7260;
    color: #ffffff;
}

.communication a:active {
    background-color: #e05e3d;
    color: #ffffff;
    box-shadow: inset 0px 2px 2px 0.00px rgba(172, 16, 0, 0.64);
}

.feedback-field {
    /* Блочная модель */
    display: none;
}
/* ---------- ---------- ---------- */

/* ---------- Подвал ---------- */

footer {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    display: inline-block;
    /* Блочная модель */
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
    position: relative;
    z-index: 1;
}

.social-btn {
    display: inline-block;
    width: 350px;
    position: relative;
}

.social-btn li {
    display: inline-block;
    position: relative;
    width: 33px;
    height: 32px;
    border: 2px solid #c2cec7;
    border-radius: 50%;
    margin-left: 11px;
    left: -2px;
}

.social-btn-twitter a {
    display: inline-block;
    content: '';
    position: absolute;
    background-image: url(../img/sprite.png);
    width: 33px;
    height: 32px;
    background-position: -914px -10px;
    border-radius: 50%;
    opacity: 0.8;
    left: -1px;
    top: -1px;
    
}

.social-btn-twitter a:hover {
    opacity: 1;
    
}

.social-btn-instagram a {
    display: inline-block;
    content: '';
    position: absolute;
    background-image: url(../img/sprite.png);
    width: 32px;
    height: 32px;
    background-position: -648px -10px;
    border-radius: 50%;
    opacity: 0.8;
}

.social-btn-instagram a:hover {
    opacity: 1;
}

.social-btn-facebook a {
    display: inline-block;
    content: '';
    position: absolute;
    background-image: url(../img/sprite.png);
    width: 32px;
    height: 32px;
    background-position: -283px -10px;
    border-radius: 50%;
    opacity: 0.8;
}

.social-btn-facebook a:hover {
    opacity: 1;
}

    
.social-btn-vkontakte a {
    display: inline-block;
    content: '';
    position: absolute;
    background-image: url(../img/sprite.png);
    width: 32px;
    height: 32px;
    background-position: -967px -10px;
    border-radius: 50%;
    opacity: 0.8;
}

.social-btn-vkontakte a:hover {
    opacity: 1;
}

    
.documents {
    /* Блочная модель */
    display: inline-block;
    width: 350px;
    left: 80px ;
    vertical-align: top;
}

.documents ul {
    display: inline-block;
    width: 50%;
    margin-bottom: 20px;
    overflow: hidden;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.documents li {
    display: inline-block;
    margin-bottom: 20px;
     margin: 0;
    padding: 0;
}

.third-half {
    float: left;
}

.third-half a:hover {
    color: #ffbc9e;
}

.third-half a:active {
    color: #ffbc9e;
}

fourth-half {
    float: left;
}

.fourth-half a:hover {
    color: #ffbc9e;
}

.fourth-half a:active {
    color: #ffbc9e;
}

.documents a {
    /* Типографика */
    font: 700 13px / 18px Roboto;
    text-decoration: none;
    /* Оформление */
    color: #ffffff;
}

.third-half li:nth-child(1) {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}

.third-half li:nth-child(1)::before {
    position: absolute;
    display: inline-block;
    content: "";
    background-image: url(../img/sprite.png);
    width: 15px;
    height: 13px;
    background-position: -335px -10px;
    left: 1px;
}

.third-half li:nth-child(2) {
    display: inline-block;
    padding-left: 20px;
}
.copyright {
    display: inline-block;
    text-align: right;
    width: 350px;
    
    
}

.copyright p {
    /* Типографика */
    font: 400 12px / 18px Roboto;
    color: #fefefe;
}

.copyright a {
    font: 400 12px / 18px Roboto;
    color: #fefefe;
    text-decoration: none;
}

.copyright a:hover {
    color: #ffbc9e;
}

.copyright a:active {
    color: #ffbc9e;
}
/* ---------- ---------- ---------- */

/* ---------- Каталог хедер ---------- */

.red-basket {
    display: inline-block;
    vertical-align: top;
    width: 117px;
    height: 32px;
    border-radius: 40px;
    border-color: rgba(248, 247, 244, 0.99);
    border-style: none;
    background-color: rgba(248, 247, 244, 0.99);
    position: relative;
}

.red-basket::before {
    background-image: url(../img/sprite.png);
    position: absolute;
    content: "";
    width: 21px;
    height: 20px;
    background-position: -92px -10px;
    top: 4px;
    left: 19px;    
}

.red-basket a {
    display: inline-block;
    width: 100%;
    max-height: 30px;
    padding-top: 10px;
    padding-right: 34px;
    padding-bottom: 9px;
    padding-left: 45px;
    text-decoration: none;
    font: 500 14px / 16px Roboto;
    color: #323232;   
}


/* ---------- Каталог хедер ---------- */



/* ---------- Хлебные крошки ---------- */
.text-field h1 {
    font: 700 35px / 41px Roboto;
    color: #ffffff;
}


.bread-crumbs li {
    display: inline-block;
    margin-right: 8px;
}

.bread-crumbs a {
    font: 400 14px / 16px Roboto;
    color: #ffffff;
}
/* ---------- ---------- ---------- */

/* ---------- Форма заказа ---------- */
.order-designer {
    width: 1200px;
    margin-bottom: 30px;
}

.sorting {
    margin-bottom: 10px;
    display: inline-block;
    width: 194px;
    font: 500 16px / 18px Roboto;
    color: #ffffff;
    vertical-align: top;
    height: 37px;
    border-style: none;
}

.sorting legend {
    width: 82px;
    font: 500 14px / 16px Roboto;
    color: #ffffff;
}

.sorting select {
    display: block;
    width: 194px;
    height: 37px;
    padding: 8px 15px;
    border-radius: 40px; 
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #ffffff;
    border: 0;
}
.sorting select:hover {
    background-color: #ffffff;
    color: #323232;
}

.price-selector {
    display: inline-block;
    border: 0;
    width: 220px;
    vertical-align: top;
}

.price-selector legend {
    width: 163px;
    font: 500 14px / 16px Roboto;
    color: #ffffff;
    margin-bottom: 6px;
}

.forms-selector {
    height: 37px;
    width: 220px;
    border-radius: 40px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
}

input[type="range"] {
    display: block;
    width: 188px;
}

.fatness {
    display: inline-block;
    width: 415px;
    font: 500 16px / 18px Roboto;
    color: #ffffff;
    vertical-align: top;
    height: 37px;
    border-style: none;
    margin-bottom: 35px;
    height: 37px;
}

.fatness legend {
    width: 71px;
    font: 500 14px / 16px Roboto;
    color: #ffffff;
}

.forms-fatness {
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 40px;
}

.fillers {
    display: inline-block;
    width: 703px;
    font: 500 16px / 18px Roboto;
    color: #ffffff;
    vertical-align: top;
    height: 37px;
    border-radius: 40px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    
}

.fillers legend {
    width: 91px;
    font: 500 14px Roboto;
    color: #ffffff;
}

.forms-fillers {
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 40px;
    height: 37px;
}

.order-designer button {  
    width: 144px;
    display: inline-block;
    vertical-align: top;
    height: 37px;
    border-radius: 40px;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    font: 500 16px / 18px Roboto;
    color: #ffffff;
    border: 0;
    margin-top: 21px;
}

.order-designer button:hover {
    background-color:#ffffff;
    color: #323232;
}

.order-designer button:active {
    background-color: #ededed;
    color: #323232;
}
/* ---------- ---------- ---------- */

/* ---------- КАТАЛОГ ---------- */
.catalog {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    vertical-align: ; 
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
}

.catalog article {
    /* Блочная модель */
    width: 267px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 26px;
}


.catalog-item:nth-child(4n) {
    margin-right: 0;
}

.switching-board {
    float: right;
    font: 500 16px / 18px Roboto;
}

.switching-board li {
    display: inline-block;
    
}

.switching-board a {
    display: inline-block;
    text-decoration: none;
    width: 27px;
    height: 26px;
    border-radius: 50%;
    color: #ffffff;
    padding-left: 9px;
    padding-top: 4px;
    vertical-align: bottom;
}

.switching-board a:hover {
    background-color:rgba(255, 255, 255, 0.2);
}



.switching-board a:active {
    background-color: #ffffff;
    color: #323232;
}

.switching-board .page-active {
    display: inline-block;
    text-decoration: none;
    width: 27px;
    height: 26px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #323232;
}

.switching-board .page-active:hover {
    background-color: #ffffff;
    color: #323232;
}
.switching-board .first-ribs,
.switching-board .second-ribs {
    position: relative;
}

.switching-board .first-ribs::before {
    position: absolute;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border: 2px solid #ffffff;
    border-left: 0;
    border-top: 0;
    -webkit-transform:rotate(-225deg);
    transform:rotate(-225deg);
    top: 7px;
}


.switching-board .second-ribs::before {
    position: absolute;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border: 2px solid #ffffff;
    border-left: 0;
    border-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 7px;
    left: 5px;
}
/* ---------- ---------- ---------- */

/* ---------- СПРАЙТЫ ---------- */

.sprite {
    background-image: url("/img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -10px -10px;
}

.sprite-basket-black {
    width: 21px;
    height: 20px;
    background-position: -51px -10px;
}

.sprite-basket-red {
    width: 21px;
    height: 20px;
    background-position: -92px -10px;
}

.sprite-circle {
    width: 21px;
    height: 22px;
    background-position: -133px -10px;
}

.sprite-cow {
    width: 48px;
    height: 49px;
    background-position: -174px -10px;
}

.sprite-entrance {
    width: 21px;
    height: 19px;
    background-position: -242px -10px;
}

.sprite-facebook {
    width: 32px;
    height: 32px;
    background-position: -283px -10px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -335px -10px;
}

.sprite-hit {
    width: 61px;
    height: 61px;
    background-position: -370px -10px;
}

.sprite-htmlacademy-logo {
    width: 108px;
    height: 38px;
    background-position: -451px -10px;
}

.sprite-ice-cream {
    width: 49px;
    height: 49px;
    background-position: -579px -10px;
}

.sprite-instagram {
    width: 32px;
    height: 32px;
    background-position: -648px -10px;
}

.sprite-leaf {
    width: 49px;
    height: 49px;
    background-position: -700px -10px;
}

.sprite-search {
    width: 17px;
    height: 17px;
    background-position: -769px -10px;
}

.sprite-square {
    width: 20px;
    height: 20px;
    background-position: -806px -10px;
}

.sprite-thermometer {
    width: 48px;
    height: 49px;
    background-position: -846px -10px;
}

.sprite-twitter {
    width: 33px;
    height: 32px;
    background-position: -914px -10px;
}

.sprite-vkontakte {
    width: 32px;
    height: 32px;
    background-position: -967px -10px;
}

.sprite-wblack-arrow {
    width: 9px;
    height: 5px;
    background-position: -1019px -10px;
}

.sprite-wblack-enter {
    width: 21px;
    height: 19px;
    background-position: -1048px -10px;
}

.sprite-wblack-loupe {
    width: 17px;
    height: 17px;
    background-position: -1089px -10px;
}

.sprite-wwhite-arrow {
    width: 9px;
    height: 5px;
    background-position: -1126px -10px;
}
/* ---------- ---------- ---------- */

/*
    color: #ffbc9e;

}*/
