body {
    width: 100%;
    font-family: Roboto;
    font-size: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.slide-title h1 {
    /* Типографика */
    font: 700 60px Roboto;
    /* Оформление */
    color: #ffffff;
}

.offers h2{
    /* Типографика */
    font: 700 35px Roboto;
    /* Оформление */
    color: #ffffff;
}

/* ---------- Голова сайта ---------- */

.main-header {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    width: 1200px;
    /* Типографика */
    font: 700 16px / 18px Roboto;
    /* Оформление */
    background-color: #829b8d;
}

.main-logo {
    display: inline-block;
    width: 154px;
}

.main-navigation {
    display: inline-block;
}

.DDD > li {
    display: inline-block;
}

.DDD a {
    padding-right: 10px;
    text-decoration: none;
    font: 700 16px / 18px Roboto;
    color: #ffffff;
}

.hidden {
    display: none;
}

.customer-panel {
    display: inline-block;
    margin-left: 357px;
}

.main-search {
    display: inline-block;
    vertical-align: top;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    background-color: rgba(255, 255, 255, 0.2);
}

.main-login {
    display: inline-block;
    vertical-align: top;
    width: 93px;
    height: 32px;
    border-radius: 40px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    
}

.main-login a {
    padding-top: 10px;
    padding-right: 17px;
    padding-bottom: 9px;
    padding-left: 44px;
    text-decoration: none;
    font: 500 14px / 16px Roboto;
    color: #ffffff;
}

.main-basket {
    display: inline-block;
    vertical-align: top;
    width: 117px;
    height: 32px;
    border-radius: 40px;
    border-color: rgba(255, 255, 255, 0.2);
    border-style: none;
    background-color: rgba(255, 255, 255, 0.2);
    
}

.main-basket a {
    padding-top: 10px;
    padding-right: 34px;
    padding-bottom: 9px;
    padding-left: 45px;
    text-decoration: none;
    font: 500 14px / 16px Roboto;
    color: #ffffff;
    line-height: 16px;
}



/* ---------- ---------- ---------- */

/* ---------- Слайдер ---------- */
.slider {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
}

.contacts {
    width: 166px;
}

.contacts p {
    /* Типографика */
    font: 700 14px / 16px Roboto;
}

.contacts span {
    /* Типографика */
    font: 700 22px / 24px Roboto;
}


/* ---------- ---------- ---------- */

/* ---------- Предложения ---------- */

.offers {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
}

.offers-item {
    /* Позиционирование */
    padding-left: 20px;
    padding-bottom: 23px;
    /* Блочная модель */
    display: inline-block;
    vertical-align: baseline;
    width: 560px;
}

.raspberry {
    background: url("/img/raspberry-background.png");
    background-repeat: no-repeat;
    padding-right: 26px;
}

.chocolate {
    background: url("/img/chocolate-background.png");
    background-repeat: no-repeat;
}

.offers h2 {
    /* Типографика */
    font: 700 22.97px / 26.912px Roboto;
    /* Оформление */
    color: #ffffff;
}

.offers p {
    /* Типографика */
    font: 700 11.81px / 14.441px Roboto;
    /* Оформление */
    color: #ffffff;
}

.offers a {
    /* Позиционирование */
    padding-top: 14px;
    padding-right: 22px;
    padding-bottom: 14px;
    padding-left: 22px;
    /* Блочная модель */
    width: 189px;
    /* Типографика */
    font: 700 11.81px / 15.753px Roboto;
    /* Оформление */
    color: #ffffff;
}

/* ---------- ---------- ---------- */

/* ---------- Топ продаж ---------- */

.top-sales {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
}

.top-sales article {
    /* Блочная модель */
    width: 267px;
}

.top-sales .catalog-item {
    /* Блочная модель */
    display: inline-block;
}

.catalog-item {
    position: relative;
    margin-right: 26px;
}

.catalog-item a {
    text-decoration: none;
    font: 500 10.5px / 14.441px Roboto;
    color: #ffffff;
}

.catalog-item:last-child {
    margin-right: 0;
}

.catalog-item .price {
    position: absolute;
    bottom: 54px;
    /* Типографика */
    font: 700 45px / 45px Roboto;
    /* Оформление */
    color: #ffffff;
}

.price span {
    /* Типографика */
    font: 700 30px / 45px Roboto;
    /* Оформление */
    color: #ffffff;
}

.catalog-item a {
    width: 247px;
    /* Типографика */
    font: 500 16px / 22px Roboto;
    
}

/* ---------- ---------- ---------- */

/* ---------- О компании ---------- */

.about-company {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    vertical-align: baseline;
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
}

.about-company h3 {
    /* Типографика */
    font: 500 24px / 30px Roboto;
    /* Оформление */
    color: #323232;
}

.about-company ul {
    /* Типографика */
    font: 400 16px / 22px Roboto;
    /* Оформление */
    color: #323232;
}

/* ---------- ---------- ---------- */

/* ---------- Полезная информация ---------- */

.helpful-info {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
}

.blog {
    display: inline-block;
    vertical-align: top;
    width: 560px;
}

.blog span {
    /* Блочная модель */
    display: block;
    padding-top: 26px;
    /* Типографика */
    font: 500 16px / 22px Roboto;
    /* Оформление */
    color: #323232;
}

.blog a {
    /* Типографика */
    font: 700 24px / 30px Roboto;
    /* Оформление */
    color: #323232;
}

.subscription {
    /* Блочная модель */
    display: inline-block;
    vertical-align: top;
    width: 549px; 
}

.subscription p {
    /* Типографика */
    font: 400 16px / 22px Roboto;
    /* Оформление */
    color: #5a5a5a;
}

.subscription input[type="text"] {
    width: 368px;
    /* Типографика */
    font: 400 16px / 24px Roboto;
    /* Оформление */
    color: #999999;
}

.subscription button {
    width: 129px;
    /* Типографика */
    font: 700 18px / 24px Roboto;
    /* Оформление */
    color: #fefefe;
}

/* ---------- ---------- ---------- */

/* ---------- Карта ---------- */

.map {
    /* Позиционирование */
    /* Блочная модель */
    display: inline-block;
    width: 100%;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
}

.communication {
    width: 302px;
    /* Оформление */
    background-color: purple;
}

.communication p {
    /* Типографика */
    font: 400 14px / 20px Roboto;
}

.communication span {
    /* Типографика */
    font: 700 18px / 24px Roboto;
}
.communication a {
    width: 252px;
    /* Типографика */
    font: 700 18px / 24px Roboto;
    /* Оформление */
    color: #fefefe;
}

.feedback-field {
    /* Блочная модель */
    display: none;
}
/* ---------- ---------- ---------- */

/* ---------- Подвал ---------- */

footer {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
}

.social-btn {
    display: inline-block;
}
.social-btn ul {
    
}

.documents {
    /* Блочная модель */
    display: inline-block;
}

.documents a {
    /* Типографика */
    font: 700 13px / 18px Roboto;
    /* Оформление */
    color: #ffffff;
}

.copyright {
    display: inline-block;
}

.copyright p {
    /* Типографика */
    font: 400 12px / 18px Roboto;
}
/* ---------- ---------- ---------- */

/* ---------- КАТАЛОГ ---------- */
.catalog {
    /* Позиционирование */
    padding-left: 27px;
    padding-right: 27px;
    /* Блочная модель */
    display: inline-block;
    vertical-align: ; 
    width: 1200px;
    /* Типографика */
    /* Оформление */
    background-color: #829b8d;
}

.catalog article {
    /* Блочная модель */
    width: 267px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 26px;
}


.catalog-item:nth-child(4n) {
    margin-right: 0;
}
/* ---------- ---------- ---------- */


/* ---------- Шрифты ---------- */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/web/roboto.woff2")
    format("woff2"),
         url("../fonts/web/roboto.woff")
    format("woff")
}



